* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  width: 325px;
  font-family: orbitron;
  font-size: 14px;
  background-color: #121213;
  color: #40dde3;
  border: 1px solid #40dde3;
  padding: 10px 0;
  border-radius: 50px;
  margin: 80px auto;
}

.nav_bg {
  background-color: #1e1e20;
}

.nav_button {
  padding: 5px 10px;
  background-color: #40dde3;
  font-family: orbitron;
  font-weight: 900;
  font-size: 18px;
  border-radius: 5px;
}

.nav_bar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.img_logo {
  width: 150px;
}

.banner {
  display: flex;
  justify-content: center;
}

.rect_36 {
  display: flex;
  justify-content: center;
  border: 1px solid #999999;
  text-align: center;
  width: 1155px;
  height: 763px;
  border-radius: 29px;
  padding: 40px;
}

.banner_inner {
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.banner_inner img {
  margin-bottom: 70px;
}

.banner_header {
  font-family: orbitron;
  font-size: 78px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner_para {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 26px;
  margin-bottom: 50px;
}
.banner_para_waitlist {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 26px;
  margin-bottom: 5px;
}

.notify {
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  background-color: #18181a;
  padding: 20px 15px;
  border-radius: 15px;
}

.notify input {
  background-color: #18181a;
  border: none;
  font-size: 26px;
}
.notify input ::placeholder {
  color: white;
}

.notify button {
  background-color: #40dde3;
  font-family: orbitron;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
}

.hash {
  margin-top: 100px;
}

.bar {
  margin: 1px auto;
  width: 1197px;
  height: 38.5px;
  border-radius: 50px;
  background-color: #8c8c8c;
}


.meet_hashrid {
  background-color: #19191a;
  border: 1px solid #404040;
  border-radius: 10px;
  width: 1532px;
  margin: 50px auto;
  text-align: center;
  padding: 20px 50px;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.meet_hashrid p {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 25px;
  width: 1155px;
  margin: 20px auto;
}

.meet_title {
  width: 195px;
  font-family: orbitron;
  font-size: 14px;
  background-color: #121213;
  color: #40dde3;
  border: 1px solid #40dde3;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*? features */

.features {
  color: white;
  font-family: "DM Sans", sans-serif;
  background-color: #19191a;
  border: 1px solid #404040;
  border-radius: 10px;
  width: 1532px;
  margin: 50px auto;
  padding: 20px 50px;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.feature_img {
  width: 40%;
}

.feature_text {
  text-align: center;
}

.features h3 {
  width: 325px;
  font-family: orbitron;
  font-size: 14px;
  background-color: #121213;
  color: #40dde3;
  border: 1px solid #40dde3;
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.feature_para {
  font-size: 25px;
}

.card_container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
}

.feature_card {
  border: 1px solid #404040;
  /* width: 398px; */
  text-align: center;
  padding: 30px 10px 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.feature_card_text {
  text-align: left;
  padding-left: 10px;
  margin-top: 30px;
}

.feature_card_text h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}
.feature_card_text h5 {
  font-weight: 700;
}

.feature_card_text p {
  font-weight: 400;
}

.feature_card_text h5,
p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #999999;
}

.avatar {
  border: 1px solid #40dde3;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  background-color: hsla(182, 52%, 70%, 0.219);
  position: absolute;
  top: 20px;
  left: 20px;
}

.avatar_img {
  width: 100%;
}

.card_container_small {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 0 50px 30px;
}

.big_card {
  display: flex;
  gap: 50px;
  border: 1px solid #404040;
  padding: 30px 10px 20px;
  border-radius: 10px;
  position: relative;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.big_card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.big_card h5 {
  font-weight: 700;
}

.big_card_text {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.big_card p {
  font-weight: 400;
}

.big_card h5,
p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #999999;
}

/*? how to */

.how_to {
  color: white;
  font-family: "DM Sans", sans-serif;
  width: 1532px;
  margin: 0 auto;
  padding: 0 50px;
}

.how_to h3 {
  text-align: center;
  width: 325px;
  font-family: orbitron;
  font-size: 14px;
  background-color: #121213;
  color: #40dde3;
  border: 1px solid #40dde3;
  padding: 10px 0;
  border-radius: 50px;
  margin: 80px auto;
}

.how_to_card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 80px;
}

.how_to_card {
  border: 1px solid #404040;

  text-align: center;
  padding: 30px 10px 20px;
  border-radius: 10px;

  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.how_to_card_text {
  text-align: left;
  padding-left: 10px;
  margin-top: 30px;
}

.how_to_card_text p {
  font-size: 14px;
}

.how_to h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

/*? partners */

.partners {
  color: white;
  font-family: "DM Sans", sans-serif;
  background-color: #19191a;
  border: 1px solid #404040;
  border-radius: 10px;
  width: 1532px;
  margin: 50px auto;
  padding: 20px 50px;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.partners h3 {
  text-align: center;
  width: 325px;
  font-family: orbitron;
  font-size: 14px;
  background-color: #121213;
  color: #40dde3;
  border: 1px solid #40dde3;
  padding: 10px 0;
  border-radius: 50px;
  margin: 80px auto;
}

.partners p {
  text-align: center;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
}

.partner_card {
  border: 1px solid #404040;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.partner_card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
  padding: 0 40px;
  row-gap: 40px;
  margin: 40px 0;
}

/*? Q & A */
.faq {
  width: 1532px;
  margin: 50px auto;
}

.faq h3 {
  width: 123px;
}

.faq_text {
  text-align: center;
  font-size: 25px;
  font-family: "DM Sans", sans-serif;
  width: 1272px;
  margin: 0 auto 50px;
}

.accordion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1532px;
  color: #fff;
  font-family: Arial, sans-serif;
}

.accordion-item {
  border: 1px solid #404040;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  align-self: start; /* ✨ Prevent row syncing/stretching */
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  box-shadow: 1px 20px 50px rgba(0, 0, 0, 0.7);
}

.accordion-header {
  width: 100%;
  text-align: left;
  padding: 16px;
  background: #1a1a1a;
  color: #00ffe0;
  font-size: 23px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

.accordion-header::after {
  content: "+";
  position: absolute;
  right: 20px;
  color: white;
  transition: transform 0.3s ease;
}

.accordion-header.active::after {
  content: "×";
  color: #00ffe0;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background: #1a1a1a;
  padding: 0 16px;
  font-size: 18px;
  border-radius: 10px;
}

.accordion-body.open {
  padding: 16px;
}

.foot {
  font-family: orbitron;
  font-size: 65px;
  width: 1186px;
  margin: 50px auto;
  background: linear-gradient(to right, #292929, #ffffff, #676767, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.earn {
  position: relative;
}

.notify2 {
  margin-left: auto;
  margin-right: auto;
  width: 525px;
  background-color: #18181a;
  padding: 10px 15px;
  border-radius: 15px;
}

.notify2 input {
  background-color: #18181a;
  border: none;
  font-size: 26px;
}

.notify2 input ::placeholder {
  color: white;
}

.notify2 button {
  background-color: #40dde3;
  font-family: orbitron;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 8px;
}

.foot_notify {
  position: absolute;
  bottom: 0;
  right: 250px;
}

/* ============================================ */

@media (max-width: 480px) {

  .nav_bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
  }

  .img_logo {
    width: 100px;
  }

  .nav_button {
    font-size: 16px;
    padding: 8px 12px;
  }

  .banner {
    padding: 24px;
  }
  
  .rect_36 {
    padding: 16px;
    border-radius: 12px;
    height:fit-content
  }
  
  .banner_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .banner_inner img {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
  }
  
  .banner_header {
    font-size: 24px;
    line-height: 25.6px;
    margin-bottom: 12px;
  }
  
  .banner_para {
    font-size: 16px;
    margin-bottom: 12px;
    color: white;
  }
  
  .banner_para_waitlist {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 16px;
    color: white;
  }
  
  .notify {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 320px;
  }
  
  .notify input[type="email"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .notify button {
    padding: 12px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .hash {
    max-width: 60px;
    margin-top: 90px;
    margin-bottom: 0;
    padding: 0;
  }


  .bar {
    margin-top: -22px;
    width: 90%;
    height: 20px;
    border-radius: 50px;
    background-color: #8c8c8c;
  }
  

  .meet_hashrid {
    width: 90%;
    padding: 20px 16px;
    margin: 30px auto;
    box-sizing: border-box;
  }

  .meet_hashrid p {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin: 16px auto;
    padding: 0 5px;
    box-sizing: border-box;
  }

  .meet_title {
    width:fit-content;
    font-size: 13px;
    padding: 8px 16px;
    margin-bottom: 30px;
  }

  .meet_hashrid br {
    display: none;
  }

  /*  features */

  .features {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
  }

  .feature_img {
    width: 100%;
  }

  .features h3 {
    width: auto;
    font-size: 12px;
    padding: 8px 16px;
    margin-bottom: 30px;
  }

  .feature_para {
    font-size: 18px;
  }

  .card_container {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 30px 20px;
  }

  .feature_card {
    padding: 20px 10px 15px;
  }

  .feature_card_text {
    padding-left: 5px;
    margin-top: 20px;
  }

  .feature_card_text h4 {
    font-size: 18px;
  }

  .feature_card_text h5,
  .feature_card_text p {
    font-size: 13px;
  }

  .avatar {
    width: 40px;
    height: 40px;
    padding: 4px;
    top: 15px;
    left: 15px;
  }

  .card_container_small {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 20px 20px;
  }

  .big_card {
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
  }

  .big_card_text {
    margin-top: 40px;
    padding-left: 0;
    justify-content: flex-start;
  }

  .big_card h4 {
    font-size: 18px;
  }

  .big_card h5,
  .big_card p {
    font-size: 13px;
  }

  /*  how to */

  .how_to {
    width: 90%;
    padding: 0 20px;
  }

  .how_to h3 {
    width: auto;
    font-size: 12px;
    padding: 8px 0;
    margin: 40px auto;
  }

  .how_to_card_container {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 40px;
  }

  .how_to_card {
    padding: 20px 10px 15px;
  }

  .how_to_card_text {
    padding-left: 5px;
    margin-top: 20px;
  }

  .how_to_card_text p {
    font-size: 13px;
  }

  .how_to h4 {
    font-size: 18px;
  }

  /*  partners */

  .partners {
    width: 90%;
    padding: 20px 20px;
    margin: 30px auto;
  }

  .partners h3 {
    width: auto;
    font-size: 12px;
    padding: 8px 0;
    margin: 40px auto;
  }

  .partners p {
    font-size: 18px;
    padding: 0 10px;
  }

  .partner_card_container {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 20px;
    padding: 0 20px;
    margin: 20px 0;
  }

  .partner_card {
    padding: 15px;
  }

  .partner_card img{
    width: 60%;
  }

  /*  Q & A */

  .faq {
    width: 90%;
    padding: 0 0;
    margin: 30px auto;
  }

  .faq h3 {
    width: auto;
    text-align: center;
    font-size: 14px;
  }

  .faq_text {
    width: 90%;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .accordion {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .accordion-header {
    font-size: 18px;
    padding: 14px;
  }

  .accordion-body {
    font-size: 16px;
    padding: 0 14px;
  }

  .accordion-body.open {
    padding: 14px;
  }

  /*  footer */

  .foot {
    font-size: 32px;
    width: 90%;
    text-align: center;
    padding: 0 15px;
  }

  .notify2 {
    width: 90%;
    max-width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .notify2 input {
    font-size: 18px;
    width: 90%;
    padding: 8px;
  }

  .notify2 button {
    font-size: 16px;
    padding: 10px;
    width: 90%;
  }

  .foot_notify {
    position: static;
    margin-top: 30px;
    text-align: center;
  }

}
